<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <meta name="google-signin-client_id" content="796891676929-g4e698mi71q6p1vos9usb3dj39u7n9jj.apps.googleusercontent.com.apps.googleusercontent.com">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/assets/css/layout.css"/>

</head>
<body>
<div class="container">
    <!--Jumbotron Div-->
    <div class="jumbotron">

        <div class="btn-group" role="group" id="jumboBtnGroup">

            <a class="btn btn-primary btn-lg" href="/about" role="Log in">About</a>
            <a class="btn btn-primary btn-lg" href="/features" role="Log in">Features</a>
            <a class="btn btn-primary btn-lg" href="/contactUs" role="Log in">Contact Us!</a>

        </div>

        <h1>Job Tracker App</h1>
        <h2>A Single Source for Job Management<h2>
    </div>

    <div class="row">

        <div class="col-md-6" id="login">
            <div class="panel panel-success panel-login">
                <div class="panel-heading" id="pHeadings">
                    <h3 class="panel-title">User Login </h3>
                </div>
                <div class="panel-body">

                        <form class="create-form" action="/" method="POST">

                            <div class="form-group">
                                <label for="loginEmail">loginEmail:</label>
                                <input type="text" id="loginEmail" name="loginEmail">
                            </div>

                            <div class="form-group">
                                <label for="loginPassword">loginPassword:</label>
                                <textarea id="loginPassword" name="loginPassword"></textarea>
                            </div>

                            <button id="signin-button" onclick="handleSignInClick()">Sign In</button>
                            <button id="signout-button" onclick="handleSignOutClick()">Sign Out</button>
                        </form>
                    </div><!--panel-body-->
            </div><!--div class="panel panel-success panel-login"-->
        </div><!--id="login"-->

        <div class="col-md-6" id="login">
            <div class="panel panel-success panel-login">
                <div class="panel-heading" id="pHeadings">
                    <h3 class="panel-title">Repair Quote</h3>
                </div>
                <div class="panel-body">


                    <h2>Add a Repair Quote</h2>

                    <form class="create-form" action="/" method="POST">

                        <div class="form-group">
                            <label for="repairTitle">Repair Title: </label>
                            <input type="text" id="repairTitle" name="author">
                        </div>

                        <div class="form-group">
                            <label for="repairQuote">Repair Quote: </label>
                            <textarea id="quo" name="repairQuote" rows="8" cols="40"></textarea>
                        </div>

                        <button type="submit">Add Quote</button>
                    </form>
                </div>

    </div><!-- div class="row"-->

    <div class="row">


</div><!--div class="container"-->

    <script src="https://apis.google.com/js/platform.js" async defer></script>

</body>
</html>

